
.main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.first__part {
    width: 250px;
    height: 100%;
    background-color: #4E46B2;
    position: fixed;
    left: 0;
    top: 0;
}

.second__part_gn {
    width: 80%;
    height: 100%;
    padding: 20px;
    margin-left: 250px;
}

.menu_item_style {
    display: block;
    color: white;
    list-style: none;
    text-align: start;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 10px;
    margin: 0 10px 10px 10px;
    text-decoration: none !important;
    
}

.menu_item_style:hover, .item_active {
    background-color: rgba(0,0,0,.5);   
    font-weight: bold;
    border-radius: 8px;
    color: white;
}