

.second__part {
    background-color: #0A0339;
    height: 100vh;
    width: 100vw;
}

.second__part__resize_ill {
    height: calc(100vh - 44%);
}

.second__part__resize_txt {
  width: 70%;
  font-size: 1.875rem;
  text-align: center;
}

.centerC {
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerChild {
    display: block;
    margin: 0 auto;
}

.customInput {
    width: 100%;
    height: 45px;
    border-radius: 5px;
    border: 1px solid #DED2D9;
    padding-left: 8px;
}

.error_input {
    outline-color: red;
}

.spacer {
    margin: 30px;
}

.body__form {
    width: 30vw;
}

.new_user_link {
    margin-top: 20px;
    font-size: 0.9rem;
    text-decoration: underline;
    cursor: pointer;
}

.new_user_link:hover {
    color: #4E46B2;
}


.error__text {
    color: red;
}